<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.persistence.AddressMapper">
    <cache/>

    <select id="getAllAddresses" resultType="Address">
        SELECT id, country, city, street, home, studentId FROM addresses
    </select>

    <select id="getAddressById" parameterType="int" resultType="Address">
        SELECT * FROM addresses
        WHERE id = #{id}
    </select>

    <select id="getAddressByStudentId" parameterType="int" resultType="Address">
        SELECT * FROM addresses
        WHERE studentId = #{id}
    </select>

    <update id="updateAddress" parameterType="Address">
        UPDATE addresses SET country = #{country}, city = #{city}, street = #{street},
        home = #{home}, studentId = #{studentId}
        WHERE id = #{id}
    </update>

    <insert id="insertAddress" parameterType="Address">
        INSERT INTO addresses (country, city, street, home, studentId)
        VALUES (#{country}, #{city}, #{street}, #{home}, #{studentId})
    </insert>

    <delete id="deleteAddress" parameterType="int">
        DELETE FROM addresses
        WHERE id = #{id}
    </delete>
</mapper>