<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="BaseWithNavigation">
<head>
    <meta charset="utf-8"/>

    <title>Список адресов</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="static/signin.css" rel="stylesheet"/>
</head>

<body>
<div layout:fragment="body">
    <div class="container">
        <div th:if="${not #lists.isEmpty(addressesList)}">
            <table class="table table-hover">
                <caption>Список адресов</caption>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Страна</th>
                    <th>Город</th>
                    <th>Улица</th>
                    <th>Дом(квартира)</th>
                    <th>ID студента</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="address : ${addressesList}">
                    <td th:text="${address.id}"/>
                    <td th:text="${address.country}"/>
                    <td th:text="${address.city}"/>
                    <td th:text="${address.street}"/>
                    <td th:text="${address.home}"/>
                    <td>
                           <a th:href="@{/studentProfile/{studentId}(studentId = ${address.studentId})}" th:text="${address.studentId}"/>
                    </td>
                    <td>
                        <a th:href="@{/deleteAddress/{addressId}(addressId = ${address.id})}">
                            <button type="button" class="btn btn-danger">Удалить</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/editAddress/{addressId}(addressId = ${address.id})}">
                            <button type="button" class="btn btn-warning">Изменить</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="7"></td>
                    <td>
                        <a th:href="@{/addAddress}">
                            <button type="button" class="btn btn-success">Добавить</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${#lists.isEmpty(addressesList)}">
            <h2>Список пуст</h2>
            <a th:href="@{/addAddress}">
                <button type="button" class="pull-right btn btn-success">Добавить</button>
            </a>
        </div>
    </div><!-- /container -->
</div>
</body>
</html>